// Global Variables

.app-body {
  padding: 50px 0;
}
.card {
  margin-bottom: 15px;
  margin-top: 15px;
}
@media (max-width: 575px) {
  .navbar-toggleable>.container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
  }
}
